﻿@model WebApplication3.SaAccount

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SaAccount</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.LegalEntityId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LegalEntityId)
                @Html.ValidationMessageFor(model => model.LegalEntityId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SaAccountClassId, "SaAccountClassId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SaAccountClassId", String.Empty)
                @Html.ValidationMessageFor(model => model.SaAccountClassId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParentSaAccountId, "ParentSaAccountId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ParentSaAccountId", String.Empty)
                @Html.ValidationMessageFor(model => model.ParentSaAccountId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SaAccountType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SaAccountType)
                @Html.ValidationMessageFor(model => model.SaAccountType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SaAccountCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SaAccountCode)
                @Html.ValidationMessageFor(model => model.SaAccountCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SaAccountName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SaAccountName)
                @Html.ValidationMessageFor(model => model.SaAccountName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsCash, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsCash)
                @Html.ValidationMessageFor(model => model.IsCash)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RowVersion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RowVersion)
                @Html.ValidationMessageFor(model => model.RowVersion)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
