﻿@model SmartAccountsUI.Models.ViewModels.Financials.JournalEntries
@{
    ViewBag.Title = "JournalEntries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Journal Entries</h2>

@Html.ActionLink("Add Journal Entry", "AddJournalEntry", "Financial")

<table class="table">
    <thead>
        <tr>
            <th>Account Code</th>
            <th>Account Name</th>
            <th>DrCr</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var je in Model.JournalEntriesListLines)
        {
            <tr>
                <td>@je.AccountCode</td>
                <td>@je.AccountName</td>
                <td>@je.DrCr</td>
                <td>@je.Amount</td>
            </tr>
        }
    </tbody>
</table>