﻿@model ICollection<SmartAccountsService.Financial.TrialBalance>
@{
    ViewBag.Title = "TrialBalance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="text-align: center">
    <h3>
        <label>Trial Balance as at</label>
        <br />
        @DateTime.Now.ToShortDateString()
    </h3>
</div>
<div>
    <table class="table">
        <tr style="font-weight: bold;">
            <td>Account Code</td>
            <td>Account Name</td>
            <td style="text-align: right;">Debit</td>
            <td style="text-align: right;">Credit</td>
        </tr>
        @foreach (var account in Model)
        {
            <tr>
                <td>@account.AccountCode</td>
                <td>@account.AccountName</td>
                <td style="text-align: right;">@account.Debit</td>
                <td style="text-align: right;">@account.Credit</td>
            </tr>
        }
        <tr style="font-weight: bold; text-align: right;">
            <td></td>
            <td>Total</td>
            <td>@Model.Sum(m => m.Debit)</td>
            <td>@Model.Sum(m => m.Credit)</td>
        </tr>
    </table>
</div>