﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Smartwebs Accounting</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    @Scripts.Render("~/bundles/bootstrap")
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css", "~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SmartAccounts", "Index",  new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Select/Edit<span class="caret" /></a>
                                <ul class="dropdown-menu">


                                    <li>@Html.ActionLink("Select Management Company Resources", "Index", "Administration", null, null)</li>
                                    <li>@Html.ActionLink("Select Association", "Index", "Administration", null, null)</li>
                                    <li>@Html.ActionLink("Select Vendor", "Index", "Administration", null, null)</li>
                                    <li>@Html.ActionLink("Select Units", "Index", "Administration", null, null)</li>
                                    <li>@Html.ActionLink("Select Owners", "Index", "Administration", null, null)</li>
                                    <li>@Html.ActionLink("Select Tenants", "Index", "Administration", null, null)</li>
                                    <li>@Html.ActionLink("Select Directors", "Index", "Administration", null, null)</li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Setup</a>
                                        <ul class="dropdown-menu">

                                            <li class="dropdown-submenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Setup Entities</a>
                                                <ul class="dropdown-menu">
                                                    <li>@Html.ActionLink("Select Company", "Index", "Administration", null, null)</li>
                                                    <li class="divider"></li>
                                                    <li>@Html.ActionLink("Management Company Resources", "Index", "Administration")</li>
                                                    <li class="divider"></li>
                                                    <li>@Html.ActionLink("Associations", "Index", "Administration")</li>
                                                    <li>@Html.ActionLink("Vendors", "Index", "Administration")</li>
                                                    <li>@Html.ActionLink("Units", "Index", "Administration")</li>
                                                    <li class="divider"></li>
                                                    <li>@Html.ActionLink("Owners", "Index", "Administration")</li>
                                                    <li>@Html.ActionLink("Directors", "Index", "Administration")</li>
                                                </ul>
                                            </li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Taxes", "Taxes", "Administration")</li>
                                            <li>@Html.ActionLink("Tax Groups", "Index", "Administration")</li>
                                            <li>@Html.ActionLink("Item Tax Groups", "ItemTaxGroups", "Administration")</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Banks", "Banks", "Financial")</li>
                                            <li>@Html.ActionLink("Fiscal Years", "Index", "Administration")</li>
                                            <li>@Html.ActionLink("General Ledger Setup", "GeneralLedgerSetting", "Financial")</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Payment Terms", "Index", "Administration")</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("User Management", "Index", "Administration")</li>
                                            <li>@Html.ActionLink("Roles Management", "Index", "Administration")</li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maintenance</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Items", "Items", "Inventory")</li>
                                            <li>@Html.ActionLink("Customers", "Customers", "Sales", null, null)</li>
                                            <li>@Html.ActionLink("Vendors", "Vendors", "Purchasing")</li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>                    @*select/edit*@

                        <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transactions<span class="caret" /></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Receivables</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Add Home Owner Billing", "SalesOrder", "Sales", null, null)</li>
                                            <li>@Html.ActionLink("Direct Delivery", "SalesDelivery", "Sales", null, null)</li>
                                            <li>@Html.ActionLink("Direct Invoice", "SalesInvoice", "Sales", null, null)</li>
                                            <li>@Html.ActionLink("Delivery Against Work Order", "SalesOrders", "Sales")</li>
                                            <li>@Html.ActionLink("Invoice Against Work Order Delivery", "SalesDeliveries", "Sales")</li>
                                            <li>@Html.ActionLink("Generate Invoices", "BulkInvoice", "Administration")</li>

                                            <li class="dropdown-submenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports and Inquiries</a>
                                                <ul class="dropdown-menu">
                                                    <li>@Html.ActionLink("Sales Orders", "SalesOrders", "Sales")</li>
                                                    <li>@Html.ActionLink("Sales Receipts", "Receipts", "Sales")</li>
                                                    <li>@Html.ActionLink("Sales Deliveries", "SalesDeliveries", "Sales")</li>
                                                    <li>@Html.ActionLink("Sales Invoices", "SalesInvoices", "Sales")</li>
                                                </ul>

                                            </li>
                                        </ul>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Payables</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("New Purchase Order", "Index", "Administration")</li>
                                            <li>@Html.ActionLink("Direct Goods Receipt", "Index", "Administration")</li>
                                            <li>@Html.ActionLink("Direct Purchase Invoice", "Index", "Administration")</li>

                                            <li class="dropdown-submenu">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports and Inquiries</a>
                                                <ul class="dropdown-menu">
                                                    <li>@Html.ActionLink("Purchase Orders Report", "Index", "Administration")</li>
                                                    <li>@Html.ActionLink("Purchase Receipt Report", "Index", "Administration")</li>
                                                    <li>@Html.ActionLink("Purchase Invoice Report", "Index", "Administration")</li>
                                                </ul>

                                            </li>
                                        </ul>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Journal Entries</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Asset Control Journal", "InventoryControlJournal", "Inventory")</li>
                                        </ul>

                                    </li>
                                </ul>
                            </li>                @*Transactions*@


                        <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Financial<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Journal Entries", "JournalEntries", "Financial")</li>
                                    <li>@Html.ActionLink("Trial Balance", "TrialBalance", "Financial")</li>
                                    <li>@Html.ActionLink("Chart of Accounts", "Accounts", "Financial", null, null)</li>
                                    <li>@Html.ActionLink("Balance Sheet", "BalanceSheet", "Financial")</li>
                                    <li>@Html.ActionLink("Income Statement", "IncomeStatement", "Financial")</li>
                                    <li>@Html.ActionLink("Master General Ledger", "MasterGeneralLedger", "Financial")</li>
                                    <li>@Html.ActionLink("Journal Entries", "JournalEntries", "Financial")</li>
                                    <li>@Html.ActionLink("End of the Month", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("Taxes", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("Budgeting", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("Outstanding Balances", "Index", "Administration")</li>
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accounts</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Capital Accounts", "Index", "Administration", null, null)</li>
                                            <li>@Html.ActionLink("Revenue Accounts", "Index", "Administration", null, null)</li>
                                            <li>@Html.ActionLink("Expense Accounts", "Index", "Administration", null, null)</li>
                                        </ul>

                                    </li>

                                </ul>
                            </li>               @*@Financial*@

                        <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">CC&R & ARCR<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("CC&R", "Items", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("CC&R Reports", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("CC&R Settings", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("ARCR", "Items", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("ARCR Reports", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("ARCR Settings", "Index", "Administration")</li>

                                </ul>
                            </li>               @*CC&R & ARCR*@

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Communications<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Tasks", "Index", "Administration")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Emailer", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("Registered Mail", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("Notes", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("Reminders", "Index", "Administration")</li>

                                </ul>
                            </li>           @*Communications*@

                        if (User.IsInRole("Reports User") || User.IsInRole("Admin"))
                        {
                            <li class="dropdown">                  
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Account Statements", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("Checks", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("Accounts/Details", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("Payment Authorization", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("Meeting Attendance", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("Payment Coupons", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("Associations", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("Units", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("Owners", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("Tenants", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("Directors", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("Bank Reconciliations", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("Cash Flow", "Index", "Administration")</li>
                                    <li>@Html.ActionLink("Inventory Control Journal", "Index", "Administration")</li>
                                </ul>
                            </li>          @*Reports*@
                    
                        }
                    
                    
                    }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year </p>

            </footer>
        </div>

        @RenderSection("scripts", required: false)
        <script>
            $(document).ready(function () {
                $(".datefield").datepicker();
            });

            $(function () {
                $(".dropdown-menu > li > a.trigger").on("click", function (e) {
                    var current = $(this).next();
                    var grandparent = $(this).parent().parent();
                    if ($(this).hasClass('left-caret') || $(this).hasClass('right-caret'))
                        $(this).toggleClass('right-caret left-caret');
                    grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
                    grandparent.find(".sub-menu:visible").not(current).hide();
                    current.toggle();
                    e.stopPropagation();
                });
                $(".dropdown-menu > li > a:not(.trigger)").on("click", function () {
                    var root = $(this).closest('.dropdown');
                    root.find('.left-caret').toggleClass('right-caret left-caret');
                    root.find('.sub-menu:visible').hide();
                });
            });
        </script>
        <script>
            function PrintPdf(action) {
                var id = $('#Id').val();
                window.open('/Reports/' + action + '?id=' + id, '_blank');
            }
        </script>
    </body>
    </html>
