﻿@model WebApplication3.CustomerAllocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomerAllocation</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoicingInvoiceHeader.No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoicingInvoiceHeader.No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoicingReceiptHeader.No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoicingReceiptHeader.No)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
