﻿@model IEnumerable<WebApplication3.CustomerAllocation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoicingInvoiceHeader.No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoicingReceiptHeader.No)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoicingInvoiceHeader.No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoicingReceiptHeader.No)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
