﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">


    <div class="col-md-10">
        <dl>
            <dt></dt>
            <dt></dt>
        </dl>
        <dl>
            <dt>This is asimple MVC app to allow a person to add / edit / delete users, user roles and groups</dt>
        </dl>
        <dl>
            <dt>Administrator login is admin@example.com and the password it the standard password.</dt>
        </dl>
    </div>
    
</div>