﻿@model SmartAccountsUI.Models.ViewModels.Items.EditItem
@{
    ViewBag.Title = "EditItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Item</h2>

@using (Html.BeginForm())
{
    <div class="panel panel-default panel-body">
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <label class="col-md-3 control-label">No</label>
            @Html.TextBoxFor(m => m.No)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Code</label>
            @Html.TextBoxFor(m => m.Code)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Description</label>
            @Html.TextBoxFor(m => m.Description)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Category</label>
            @Html.DropDownListFor(m => m.ItemCategoryId, Model.ItemCategories)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Item Tax Group</label>
            @Html.DropDownListFor(m => m.ItemTaxGroupId, Model.ItemTaxGroups)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Smallest Unit of Measurement</label>
            @Html.DropDownListFor(m => m.SmallestMeasurementId, Model.UnitOfMeasurements)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Sell Price</label>
            @Html.TextBoxFor(m => m.Price)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Sell Description</label>
            @Html.TextBoxFor(m => m.SellDescription)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Sell Account</label>
            @Html.DropDownListFor(m => m.SellAccountId, Model.Accounts)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Sell Unit of Measurement</label>
            @Html.DropDownListFor(m => m.SellMeasurementId, Model.UnitOfMeasurements)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Purchase Cost</label>
            @Html.TextBoxFor(m => m.Cost)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Purchase Unit of Measurement</label>
            @Html.DropDownListFor(m => m.PurchaseMeasurementId, Model.UnitOfMeasurements)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Purchase Description</label>
            @Html.TextBoxFor(m => m.PurchaseDescription)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Inventory Adjustment</label>
            @Html.DropDownListFor(m => m.InventoryAdjustmentAccountId, Model.Accounts)
        </div>@*

            <div class="form-group">
                <label class="col-md-3 control-label">Tax</label>
                @Html.DropDownListFor(m => m.Item.TaxId, Model.Taxes)
            </div>*@
        <div class="form-group">
            <label class="col-md-3 control-label">Inventory Account</label>
            @Html.DropDownListFor(m => m.InventoryAccountId, Model.Accounts)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Cost of Goods Sold</label>
            @Html.DropDownListFor(m => m.CostOfGoodsSoldAccountId, Model.Accounts)
        </div>
        @*<div class="form-group">
        <label class="col-md-3 control-label">Inventory</label>
        @Html.DropDownListFor(m => m.InventoryId, Model.Inventories)
    </div>*@
        <div>
            <input type="submit" value="Save" name="Save" />
        </div>
    </div>
}