﻿@model SmartAccountsUI.Models.ViewModels.MasterTable.Customers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name)
        </th>
        <th>
           LegalEntity.Id)
        </th>
        <th>
            BackendTypeId)
        </th>
        <th>
            Contacts)
        </th>
        <th>
            Party.Name)
        </th>
        <th>
            Description)
        </th>
        <th>
            InvoicingSaAccount.Id)
        </th>
        <th>
            InvoicingDiscountSaAccount.Id)
        </th>
        <th>
            PromptPaymentDiscountSaAccount.Id)
        </th>
        <th>
            SaAccountsReceivableSaAccount.SaAccountName)
        </th>
        <th>
            TaxGroup.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.CustomerListLines)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.BackendTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Party.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentTerm.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaAccount.SaAccountCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaAccount1.SaAccountCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaAccount2.SaAccountCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaAccount3.SaAccountCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxGroup.Description)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
