﻿@model SmartAccountsUI.Models.ViewModels.MasterTable.Customers
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<tr>
    <td>
        @Html.ActionLink("Add Customer", "CustomerEdit", "MasterTable")
    </td>
    <br/>
<td>
    @Html.ActionLink("Save to Pdf", "ViewCustomersPDF")
</td>
    </tr>
        <table class="table">
            <thead>
                <tr>
                    <td>Customer Id</td>
                    <td>Customer Name</td>
                    <td>Balance</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.CustomersListLines)
                {
                    <tr>
                        <td>@Html.ActionLink(string.Format("{0}", customer.Name), "CustomerEdit", new { id = customer.Id })</td>
                        <td>@customer.Name</td>
                        <td>@customer.Balance</td>

                        @*<td>
                            @Html.ActionLink("Edit", "CustomerEdit", new { id = customer.Id }) |
                            @Html.ActionLink("Details", "CustomerDetails", new { id = customer.Id }) |
                           
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
