﻿@model SmartAccountsUI.Models.ViewModels.Administration.LegalEntities
@{
    ViewBag.Title = "Legal Entities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Vendors</h2>
@Html.ActionLink("Add Legal Entity", "AddOrEditLegalEntity", "Administration")
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var legalentity in Model.LegalEntitiesList)
        {
            <tr>
                <td>@Html.ActionLink(string.Format("{0}", legalentity.LegalEntityName), "AddOrEditLegalEntity", new { id = legalentity.LegalEntityID })</td>
                
            </tr>
        }
    </tbody>
</table>
