﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Transactions</h2>
    <ul>
        <li>@Html.ActionLink("Direct Delivery", "AddInvoicingDelivery", new { direct = true })</li>
        <li>@Html.ActionLink("Direct Invoice", "AddInvoicingInvoice", new { direct = true })</li>
        <li>@Html.ActionLink("Delivery Against Invoicing Order", "AddInvoicingDelivery", new { direct = true })</li>
        <li>@Html.ActionLink("Invoice Against Invoicing Delivery", "AddInvoicingInvoice", new { direct = false })</li>
    </ul>
</div>
<div>
    <h2>Maintenance</h2>
</div>