﻿@model SmartAccountsUI.Models.ViewModels.Invoicing.InvoicingHeaderViewModel
@using SmartAccountsUI.Models;
@{
    ViewBag.Title = "InvoicingDelivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var actionName = "InvoicingDelivery";
}
@using (Html.BeginForm(@actionName, "Invoicing", FormMethod.Post))
{
    <h2>Invoicing Delivery</h2>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.DocumentType)
    <div>
        <div class="form-group">
            <label class="col-md-2 control-label">Customer</label>
            @Html.DropDownListFor(m => m.CustomerId, ModelViewHelper.Customers(null))
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Date</label>
            @Html.EditorFor(m => m.Date)
        </div>
    </div>
    
    Html.RenderPartial("~/Views/Invoicing/_InvoicingLineItems.cshtml");
    
    <div>
        <input type="submit" name="Save" value="Save" />
    </div>
    <div>
        <input type="button" value="Print" onclick="PrintPdf('InvoicingDelivery')" />
    </div>
}