﻿@model SmartAccountsUI.Models.ViewModels.Invoicing.InvoicingDeliveries
@{
    ViewBag.Title = "InvoicingDeliveries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Invoicing Deliveries</h2>

<table class="table">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Date</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var delivery in Model.InvoicingDeliveriesViewModel)
        {
            <tr>
                <td>@delivery.CustomerId</td>
                <td>@delivery.Date</td>
                <td>@delivery.Amount</td>
                @*@if (delivery.IsFullPaid)
                {
                    <td>@Html.Raw("Paid")</td>
                }
                else
                {
                    <th>@Html.ActionLink("Receipt", "AddInvoicingReceipt", new { invoicingInvoiceId = delivery.Id })</th>
                }*@
            </tr>
        }
    </tbody>
</table>