﻿@model SmartAccountsUI.Models.ViewModels.Invoicing.InvoicingOrders
@using SmartAccountsUI.Models;
@{
    ViewBag.Title = "InvoicingOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Invoicing Orders</h2>
<table class="table">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Date</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.InvoicingOrdersViewModel)
        {
            <tr>
                <td>@order.Customer</td>
                <td>@order.Date</td>
                <td>@order.Amount</td>
                <td>@Html.ActionLink("Edit", "InvoicingOrder", new { id = order.Id })</td>
            </tr>
        }
    </tbody>
</table>
