﻿@model AspNetExtendingIdentityRoles.Models.SelectUserRolesViewModel



@{

    ViewBag.Title = "User Roles";

}


<h2>Roles for user @Html.DisplayFor(model => model.UserName)</h2>

<hr />


@using (Html.BeginForm("UserRoles", "Account", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{

    @Html.AntiForgeryToken()



    <div class="form-horizontal">

        @Html.ValidationSummary(true)

        <div class="form-group">

            <div class="col-md-10">

                @Html.HiddenFor(model => model.UserName)

            </div>

        </div>



        <h4>Select Role Assignments</h4>

        <br />

        <hr />



        <table>

            <tr>

                <th>

                    Select

                </th>

                <th>

                    Role

                </th>

                <th>

                    Description

                </th>

            </tr>



            @Html.EditorFor(model => model.Roles)

        </table>

        <br />

        <hr />



        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">

                <input type="submit" value="Save" class="btn btn-default" />

            </div>

        </div>

    </div>

}



<div>

    @Html.ActionLink("Back to List", "Index")

</div>


