﻿@model ICollection<SAServices.Financial.MasterGeneralLedger>
@{
    ViewBag.Title = "GeneralLedgerMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>General Ledger Master</h2>
@Html.ActionLink("Save to Pdf", "ViewGeneralLedgerMasterPDF")

@*<div>
    <div class="form-group">
        <label class="col-md-2 control-label">From:</label>
        @Html.EditorFor(m => m.FromDate, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">To:</label>
        @Html.EditorFor(m => m.ToDate, new { @class = "form-control" })
    </div>
    <div>
        <input type="submit" value="Search" name="Search" />
    </div>
</div>*@
<table class="table">
    <tr>
        <td>Transaction No</td>
        <td>Account Code</td>
        <td>Account Name</td>
        <td>Date</td>
        <td style="text-align: right">Debit</td>
        <td style="text-align: right">Credit</td>
    </tr>
    <tbody>
        @foreach (var gl in Model)
            {
            <tr>
                <td>@gl.TransactionNo</td>
                <td>@gl.AccountCode</td>
                <td>@gl.AccountName</td>
                <td>@String.Format("{0:g}", gl.Date)</td>
                <td style="text-align: right">@gl.Debit</td>
                <td style="text-align: right">@gl.Credit</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr style="text-align: right; font-weight: bold;">
            <td colspan="5">Total Debit: @Model.Sum(d => d.Debit)</td>
            <td colspan="2">Total Credit: @Model.Sum(c => c.Credit)</td>
        </tr>
    </tfoot>
</table>