﻿@model SmartAccountsUI.Models.ViewModels.Financials.SaAccountEdit
@using SmartAccountsUI
@using SmartAccountsUI.Models;
<script src="~/Scripts/modaldialog.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.js"></script>
@{
    ViewBag.Title = "Edit";
}

<div>
    @if (Model.Id != 0)
    {
        <h2>
            <label>Edit Account</label>
        </h2>
        <div class="form-group">

            @Html.ActionLink("Delete", "SaAccountDelete", new { id = Model.Id })

        </div>
    }
    else
    {
        <h2>
            <label>Add Account</label>
        </h2>
    }
</div>


@using (Html.BeginForm())
{

    <style>
        .MakeWide {
            width: 200px;
        }
    </style>

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.SaAccountCode)




    <div class="panel panel-default panel-body">

        <div class="form-group">
            <label class="col-md-3 control-label">Name</label>
            @Html.TextBoxFor(m => m.SaAccountName)
        </div>
        @*<div class="form-group">
            <label class="col-md-3 control-label">Account Code</label>
            @Html.TextBoxFor(m => m.SaAccountCode)
        </div>*@
        <div class="form-group">
            <label class="col-md-3 control-label">Parent Account (Optional)</label>
            @Html.DropDownListFor(m => m.ParentSaAccountId, ModelViewHelper.SaAccounts())

        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Account Class</label>
            @Html.DropDownListFor(m => m.SaAccountClassId, ModelViewHelper.SaAccountClasses())
            @*@Ajax.ModalDialogActionLink("Add", "ContactAddDialog", "Add SaAccount Contact")*@

        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Account Sub Class</label>
            @Html.DropDownListFor(m => m.SaAccountSubClassId, ModelViewHelper.SaAccountSubClasses())
            @*@Ajax.ModalDialogActionLink("Add", "ContactAddDialog", "Add SaAccount Contact")*@

        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Account Type</label>
            @Html.DropDownListFor(m => m.SaAccountType, ModelViewHelper.SaAccountTypes())
            @*@Ajax.ModalDialogActionLink("Add", "ContactAddDialog", "Add SaAccount Contact")*@

        </div>


    </div>
    <div>
    @*@Html.ActionLink("Details", "SaAccountDetail", new { id = Model.Id })*@
        </div>
    <div class="panel panel-default panel-body">
        <div class="form-group">
            <label class="col-md-3 control-label">Description</label>
            @Html.TextBoxFor(m => m.Description)
        </div>
        
    </div>
    <div class="form-group">
        <input type="submit" value="Save" name="SaveSaAccount" />
    </div>





    }
 
   
