﻿@model SmartAccountsUI.Models.ViewModels.Financials.SaAccounts
@{
    ViewBag.Title = "Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accounts</h2><tr>
    <td>
        @Html.ActionLink("Add Account", "SaAccountEdit", "Financial")
    </td>
    <br />
    <td>
        @Html.ActionLink("Save to Pdf", "ViewAccountsPDF")
    </td>

    <table class="table">
        <thead>
            <tr>
                <td>Account Code</td>
                <td>Account Name</td>
                <td>Balance</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var Saaccount in Model.SaAccountsListLines)
            {
            <tr>
                <td>@Html.ActionLink(string.Format("{0}", Saaccount.SaAccountCode), "SaAccountEdit", new { id = Saaccount.Id })</td>
                @*
                <td>@Saaccount.SaAccountCode</td>*@
                <td>@Saaccount.SaAccountName</td>
                <td>@Saaccount.Balance</td>
            </tr>
            }
        </tbody>
    </table>
