﻿@model SmartAccountsUI.Models.ViewModels.Sales.AddSalesReceipt
@using SmartAccountsUI.Models;
@{
    ViewBag.Title = "AddReceipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Receipt</h2>

@using (Html.BeginForm())
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label class="col-md-3 control-label">Debit to Bank Account</label>
                @Html.DropDownListFor(m => m.AccountToDebitId, ModelViewHelper.Banks())
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Customer</label>
                @Html.DropDownListFor(m => m.CustomerId, ModelViewHelper.Customers(null))
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Date of Deposit/Payment</label>
                @Html.EditorFor(m => m.Date)
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label class="col-md-2 control-label">Credit to Account</label>
                @Html.DropDownListFor(m => m.AccountToCreditId, ModelViewHelper.Accounts(null))
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Amount</label>
                @Html.TextBoxFor(m => m.PaymentAmount)
            </div>
        </div>
    </div>
    <div>
        <input type="submit" value="Save" name="SaveReceipt" />
    </div>
    @*<h3>Item</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Account Code</th>
                    <th>Measurement</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                    <th>Amount</th>
                    <th>Amount to pay</th>
                    <th></th>
                </tr>
                <tr>
                    <td>@Html.DropDownListFor(m => m.ItemId, Model.Items)</td>
                    <td>@Html.TextBoxFor(m => m.AccountCode)</td>
                    <td>@Html.DropDownListFor(m => m.MeasurementId, Model.Measurements)</td>
                    <td>@Html.TextBoxFor(m => m.Quantity)</td>
                    <td>@Html.TextBoxFor(m => m.Discount)</td>
                    <td>@Html.TextBoxFor(m => m.Amount)</td>
                    <td>@Html.TextBoxFor(m => m.AmountToPay)</td>
                    <td><input type="submit" value="Add Item" name="AddReceiptItem" /></td>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.AddSalesReceiptLines.Count; i++)
                {
                    @Html.HiddenFor(m => Model.AddSalesReceiptLines[i].RowId)
                    @Html.HiddenFor(m => Model.AddSalesReceiptLines[i].ItemId)
                    @Html.HiddenFor(m => Model.AddSalesReceiptLines[i].MeasurementId)
                    @Html.HiddenFor(m => Model.AddSalesReceiptLines[i].Quantity)
                    @Html.HiddenFor(m => Model.AddSalesReceiptLines[i].Discount)
                    @Html.HiddenFor(m => Model.AddSalesReceiptLines[i].Amount)
                    @Html.HiddenFor(m => Model.AddSalesReceiptLines[i].AmountToPay)
                    @Html.HiddenFor(m => Model.AddSalesReceiptLines[i].AccountToCreditId)
                    <tr>
                        <td>@Model.AddSalesReceiptLines[i].ItemId</td>
                        <td>@Model.AddSalesReceiptLines[i].AccountToCreditId</td>
                        <td>@Model.AddSalesReceiptLines[i].MeasurementId</td>
                        <td>@Model.AddSalesReceiptLines[i].Quantity</td>
                        <td>@Model.AddSalesReceiptLines[i].Discount</td>
                        <td>@Model.AddSalesReceiptLines[i].Amount</td>
                        <td>@Model.AddSalesReceiptLines[i].AmountToPay</td>
                        <td>
                            <input type="submit" value="Delete" name="DeleteReceiptLineItem" id="@Model.AddSalesReceiptLines[i].RowId" onclick="return DeleteLineItem($(this).attr('id'));" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="hidden" value="" name="DeletedLineItem" />*@
}

@*<script type="text/javascript">
        function DeleteLineItem(id) {
            $('input[name="DeletedLineItem"]').val(id.toString());
        }
    </script>*@
