﻿@model SmartAccountsUI.Models.ViewModels.Sales.AddSalesReceipt
@using SmartAccountsUI.Models;
@{
    ViewBag.Title = "AddSalesReceipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Sales Receipt</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.SalesInvoiceId)
    @Html.HiddenFor(m => m.SalesInvoiceNo)
    @Html.HiddenFor(m => m.InvoiceDate)
    @Html.HiddenFor(m => m.CustomerId)
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(m => m.AccountToDebitId, new { @class = "col-md-2 control-label" })
                @Html.DropDownListFor(m => m.AccountToDebitId, ModelViewHelper.Banks())
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SalesInvoiceNo, new { @class = "col-md-2 control-label" })
                @Html.DisplayFor(m => m.SalesInvoiceNo)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.InvoiceDate, new { @class = "col-md-2 control-label" })
                @Html.DisplayFor(m => m.InvoiceDate)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CustomerId, new { @class = "col-md-2 control-label" })
                @Html.DisplayFor(m => m.CustomerId)
            </div>
        </div>
    </div>
    <h3>Line Items</h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Measurement</th>
                        <th>Qty</th>
                        <th>Discount</th>
                        <th>Amount</th>
                        <th>Amount to pay</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.AddSalesReceiptLines.Count; i++)
                    {
                        @Html.HiddenFor(m => Model.AddSalesReceiptLines[i].SalesInvoiceLineId)
                        @Html.HiddenFor(m => Model.AddSalesReceiptLines[i].ItemId)
                        @Html.HiddenFor(m => Model.AddSalesReceiptLines[i].MeasurementId)
                        @Html.HiddenFor(m => Model.AddSalesReceiptLines[i].Quantity)
                        @Html.HiddenFor(m => Model.AddSalesReceiptLines[i].Discount)
                        @Html.HiddenFor(m => Model.AddSalesReceiptLines[i].Amount)
                        <tr>
                            <td>@Model.AddSalesReceiptLines[i].ItemId</td>
                            <td>@Model.AddSalesReceiptLines[i].MeasurementId</td>
                            <td>@Model.AddSalesReceiptLines[i].Quantity</td>
                            <td>@Model.AddSalesReceiptLines[i].Discount</td>
                            <td>@Model.AddSalesReceiptLines[i].Amount</td>
                            <td>@Html.TextBoxFor(m => Model.AddSalesReceiptLines[i].AmountToPay)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <input type="submit" value="Save" name="SaveSalesReceipt" />
    </div>
}
