﻿@model SmartAccountsUI.Models.ViewModels.Sales.SalesDeliveryViewModel
@using SmartAccountsUI.Models;
@{
    ViewBag.Title = "AddSalesDelivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Sales Delivery</h2>

@using (Html.BeginForm())
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label class="col-md-2 control-label">Customer</label>
                @Html.DropDownListFor(m => m.CustomerId, ModelViewHelper.Customers(null))
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Payment Term</label>
                @Html.DropDownListFor(m => m.PaymentTermId, ModelViewHelper.PaymentTerms())
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Delivery Date</label>
                @Html.EditorFor(m => m.Date)
            </div>
        </div>
    </div>

    <h3>Delivery Note Items</h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Measurement</th>
                        <th>Quantity</th>
                        <th>Price After Tax</th>
                        <th>Discount</th>
                        <th>Line Total Tax Amount</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>@Html.DropDownListFor(m => m.ItemId, ModelViewHelper.Items(null))</td>
                        <td>@Html.DropDownListFor(m => m.MeasurementId, ModelViewHelper.Measurements(null))</td>
                        <td>@Html.TextBoxFor(m => m.Quantity)</td>
                        <td>@Html.TextBoxFor(m => m.Price)</td>
                        <td>@Html.TextBoxFor(m => m.Discount)</td>
                        <td></td>
                        <td><input type="submit" value="Add Item" name="AddSalesDeliveryLineItem" /></td>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i < Model.SalesDeliveryLines.Count; i++)
                    {
                        <tr>
                            <td>@Model.SalesDeliveryLines[i].ItemId
                            @Html.HiddenFor(x => Model.SalesDeliveryLines[i].ItemId)</td>
                            <td>@Model.SalesDeliveryLines[i].MeasurementId
                            @Html.HiddenFor(x => Model.SalesDeliveryLines[i].MeasurementId)</td>
                            <td>@Model.SalesDeliveryLines[i].Quantity
                            @Html.HiddenFor(x => Model.SalesDeliveryLines[i].Quantity)</td>
                            <td>@Model.SalesDeliveryLines[i].Price
                            @Html.HiddenFor(x => Model.SalesDeliveryLines[i].Price)</td>
                            <td>@Model.SalesDeliveryLines[i].Discount
                            @Html.HiddenFor(x => Model.SalesDeliveryLines[i].Discount)</td>
                            <td>@Model.SalesDeliveryLines[i].LineTotalTaxAmount
                            @Html.HiddenFor(x => Model.SalesDeliveryLines[i].LineTotalTaxAmount)</td>
                            <td><input type="submit" value="Delete" name="DeleteSaleDeliveryLineItem" id="@Model.SalesDeliveryLines[i].ItemId" onclick="return DeleteLineItem($(this).attr('id'));" /></td>
                        </tr>
                    }
                </tbody>
                <tfoot style="text-align: right">
                    <tr>
                        <td colspan="6">Shipping Charge</td>
                        <td>@Html.TextBoxFor(m => m.ShippingCharge)</td>
                    </tr>
                    <tr>
                        <td colspan="6">Sub Total</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="6">Included Tax</td>
                        <td>@Model.SalesDeliveryLines.Sum(a => a.LineTotalTaxAmount)</td>
                    </tr>
                    <tr>
                        <td colspan="6">Total Amount</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <input type="hidden" value="" name="DeletedLineItem" />
    <div>
        <input type="submit" value="Save" name="SaveSalesDelivery" />
    </div>
}
<script type="text/javascript">
    function DeleteLineItem(id) {
        $('input[name="DeletedLineItem"]').val(id);
    }
</script>