﻿@model SmartAccountsUI.Models.ViewModels.Sales.CustomerViewModel
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

@using (Html.BeginForm())
{
    <h2>General</h2>
    <div class="panel panel-default panel-body">
        <div class="form-group">
            <label class="col-md-2 control-label">Customer</label>
            @Html.DisplayFor(m => m.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Balance</label>
            @Html.DisplayFor(m => m.Balance, new { @class = "form-control" })
        </div>
        @Html.ActionLink("Edit", "EditCustomer", new { @id = Model.Id })
    </div>
    <h2>Receipts</h2>
    <div class="panel panel-default panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Allocated</th>
                    <th>Left to Allocate</th>
                    <th></th>
                </tr>
                @foreach (var receipt in Model.CustomerAllocations)
                {
                    <tr>
                        <td>@receipt.Id</td>
                        <td>@receipt.AmountAllocated</td>
                        <td>@receipt.AvailableAmountToAllocate</td>
                        <td>
                            @if (receipt.AvailableAmountToAllocate > 0)
                            {
                                @Html.ActionLink("Allocate", "Allocate", new { id = receipt.Id })
                            }
                        </td>
                    </tr>
                }
            </thead>
        </table>
    </div>
    <h2>Invoicing</h2>
    <div class="panel panel-default panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var receipt in Model.CustomerInvoices)
                {
                    <tr>
                        <td>@receipt.InvoiceNo</td>
                        <td>@receipt.Date</td>
                        <td>@receipt.Amount</td>
                        <td>@receipt.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}