﻿@model ICollection<SAServices.Financial.IncomeStatement>
@{
    ViewBag.Title = "IncomeStatement";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var netIncome = Model.Where(a => a.IsExpense == false).Sum(a => a.Amount) - Model.Where(a => a.IsExpense == true).Sum(a => a.Amount);
}

<h2>Income Statement</h2>
@Html.ActionLink("Save to Pdf", "ViewAccountsPDF")
<div style="text-align: center">
    <h3>Income Statement</h3>
</div>
<div>
    <table class="table">
        <tr style="font-weight: bold;">
            <td>Account Code</td>
            <td>Account Name</td>
            <td style="text-align: right">Amount</td>
        </tr>
        @foreach (var asset in Model.Where(a => a.IsExpense == false))
        {
            <tr>
                <td>@asset.AccountCode</td>
                <td>@asset.AccountName</td>
                <td style="text-align: right">@asset.Amount</td>
            </tr>
        }
        <tr style="font-weight: bold;">
            <td colspan="2">Total Revenues</td>
            <td style="text-align: right">@Model.Where(a => a.IsExpense == false).Sum(a => a.Amount)</td>
        </tr>
    </table>
</div>
<div>
    <table class="table">
        <tr style="font-weight: bold;">
            <td>Account Code</td>
            <td>Account Name</td>
            <td style="text-align: right">Amount</td>
        </tr>
        @foreach (var asset in Model.Where(a => a.IsExpense == true))
        {
            <tr>
                <td>@asset.AccountCode</td>
                <td>@asset.AccountName</td>
                <td style="text-align: right">@asset.Amount</td>
            </tr>
        }
        <tr style="font-weight: bold;">
            <td colspan="2">Total Expenses</td>
            <td style="text-align: right">@Model.Where(a => a.IsExpense == true).Sum(a => a.Amount)</td>
        </tr>
    </table>
</div>
<div style="text-align: right; font-weight: bold; font-size: large">
    Net Income: @netIncome
</div>