﻿@model SmartAccountsUI.Models.ViewModels.Sales.SalesHeaderViewModel
@using SmartAccountsUI.Models;

<h2>Sales Invoice</h2>
<div>
    <div class="form-group">
        <label class="col-md-2 control-label">Customer</label>
        @Html.DisplayFor(m => m.CustomerId)
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Date</label>
        @Html.DisplayFor(m => m.Date)
    </div>
</div>

<h2>Items</h2>
<div class="panel panel-default">
    <div class="panel-body table-responsive">
        <table class="table table-bordered table-condensed f11">
            <thead>
                <tr>
                    <th>Item No</th>
                    <th>Item Description</th>
                    <th>Measurement</th>
                    <th>Quantity</th>
                    <th>Price Before Tax</th>
                    <th>Discount %</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.SalesLine.SalesLineItems.Count; i++)
                {
                    @Html.HiddenFor(m => Model.SalesLine.SalesLineItems[i].Id)
                    @Html.HiddenFor(m => Model.SalesLine.SalesLineItems[i].ItemId)
                    @Html.HiddenFor(m => Model.SalesLine.SalesLineItems[i].ItemNo)
                    @Html.HiddenFor(m => Model.SalesLine.SalesLineItems[i].ItemDescription)
                    @Html.HiddenFor(m => Model.SalesLine.SalesLineItems[i].Measurement)
                    @Html.HiddenFor(m => Model.SalesLine.SalesLineItems[i].Quantity)
                    @Html.HiddenFor(m => Model.SalesLine.SalesLineItems[i].Price)
                    @Html.HiddenFor(m => Model.SalesLine.SalesLineItems[i].Discount)
                    @Html.HiddenFor(m => Model.SalesLine.SalesLineItems[i].Total)
                    <tr>
                        <td>@Model.SalesLine.SalesLineItems[i].ItemNo</td>
                        <td>@Model.SalesLine.SalesLineItems[i].ItemDescription</td>
                        <td>@Model.SalesLine.SalesLineItems[i].Measurement</td>
                        <td>@Model.SalesLine.SalesLineItems[i].Quantity</td>
                        <td>@Model.SalesLine.SalesLineItems[i].Price</td>
                        <td>@Model.SalesLine.SalesLineItems[i].Discount</td>
                        <td>@Model.SalesLine.SalesLineItems[i].Total</td>
                    </tr>
                }
            </tbody>
            <tfoot style="text-align: right;">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Shipping Charges</td>
                    <td colspan="2">@Html.DisplayFor(m => m.ShippingHandlingCharges)</td>
                    @*<td></td>*@
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Sub-Total</td>
                    <td colspan="2">@Html.DisplayFor(m => m.SalesLine.SubTotal)</td>
                    @*<td></td>*@
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Tax</td>
                    <td colspan="2">@Model.SalesLine.ComputeAmountTax()@*@Html.DisplayFor(m => m.SalesLine.AmountTax)*@</td>
                    @*<td></td>*@
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Amount Total</td>
                    <td colspan="2">
                        @{                            
                            var amountTotal = Model.SalesLine.SubTotal;
                        }
                        @amountTotal
                    </td>
                    @*<td></td>*@
                </tr>
                @Html.HiddenFor(m => m.SalesLine.AmountTotal, new { @Value = Model.SalesLine.AmountTotal })
                @Html.HiddenFor(m => m.SalesLine.AmountTax, new { @Value = Model.SalesLine.AmountTax })
            </tfoot>
        </table>
    </div>
</div>
