﻿@model SmartAccountsUI.Models.ViewModels.Receivables.SaveCustomer
@{
    ViewBag.Title = "SaveCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="form-group">
        <label class="control-label">Name</label>
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div class="form-group">
        <input type="submit" value="Save" name="SaveCustomer" />
    </div>
}