﻿@model IEnumerable<SmartAccountsUI.Models.ViewModels.Administration.ItemTaxGroupViewModel>

@{
    ViewBag.Title = "ItemTaxGroups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ItemTaxGroups</h2>

<p>
    @Html.ActionLink("Create New", "CreateItemTaxGroup")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFullyExempt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFullyExempt)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "ItemTaxGroup", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
