﻿@model SmartAccountsUI.Models.ViewModels.Purchases.MakePayment
@using SmartAccountsUI.Models;
@{
    ViewBag.Title = "MakePayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Make Payment</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.InvoiceId)
    <div class="form-group">
        <label class="col-md-2 control-label">Invoice No</label>
        @Html.DisplayFor(m => m.InvoiceNo)
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Vendor</label>
        @Html.DisplayFor(m => m.Vendor)
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Amount</label>
        @Html.DisplayFor(m => m.Amount)
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Amount to pay</label>
        @Html.TextBoxFor(m => m.AmountToPay)
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Account</label>
        @Html.DropDownListFor(m => m.SaAccountId, ModelViewHelper.Banks())
    </div>
    <div class="form-group">
        <input type="submit" value="Save" name="SavePaymentToVendor" />
    </div>
}