﻿@model SmartAccountsUI.Models.ViewModels.Purchases.PurchaseHeaderViewModel
@using SmartAccountsUI.Models;
@{
    ViewBag.Title = "PurchaseInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var actionName = "PurchaseInvoice";
}

@using (Html.BeginForm(@actionName, "Purchasing", FormMethod.Post))
{
    <h2>Purchase Invoice</h2>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.DocumentType)
    @Html.HiddenFor(m => m.IsDirect)
    <div>
        <div class="form-group">
            <label class="col-md-2 control-label">Customer</label>
            @Html.DropDownListFor(m => m.VendorId, ModelViewHelper.Vendors(null))
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Date</label>
            @Html.EditorFor(m => m.Date)
        </div>
    </div>
    
    Html.RenderPartial("~/Views/Purchasing/_PurchaseLineItems.cshtml");
    
    <div>
        <input type="submit" name="Save" value="Save" />
    </div>
    <div>
        <input type="button" value="Print" onclick="PrintPdf('PurchaseInvoice')" />
    </div>
}