﻿@model SmartAccountsUI.Models.ViewModels.Purchases.PurchaseInvoices
@{
    ViewBag.Title = "PurchaseInvoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Purchase Invoices</h2>

<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>Date</th>
            <th>Vendor</th>
            <th>Amount</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var invoice in Model.PurchaseInvoiceListLines)
        {
            <tr>
                <td>@invoice.No</td>
                <td>@invoice.Date</td>
                <td>@invoice.Vendor</td>
                <td>@invoice.Amount</td>
                <td>
                    @if (!invoice.IsPaid)
                    {
                        @Html.ActionLink("Make Payment", "MakePayment", new { @id = invoice.Id })
                    }
                    else
                    {
                        @Html.Raw("Paid")
                    }
                </td>
            </tr>
        }
    </tbody>
</table>