﻿@model WebApplication3.CustomerAllocation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CustomerAllocation</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerId, "CustomerId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerId", String.Empty)
                @Html.ValidationMessageFor(model => model.CustomerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvoicingInvoiceHeaderId, "InvoicingInvoiceHeaderId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("InvoicingInvoiceHeaderId", String.Empty)
                @Html.ValidationMessageFor(model => model.InvoicingInvoiceHeaderId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvoicingReceiptHeaderId, "InvoicingReceiptHeaderId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("InvoicingReceiptHeaderId", String.Empty)
                @Html.ValidationMessageFor(model => model.InvoicingReceiptHeaderId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount)
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
