﻿@model SmartAccountsUI.Models.ViewModels.Receivables.SalesHeaderViewModel
@using SmartAccountsUI.Models;
@{
    ViewBag.Title = "SalesOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var actionName = "SalesOrder";
}

@using (Html.BeginForm(@actionName, "Sales", FormMethod.Post))
{
    <h2>Sales Order</h2>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.DocumentType)
    <div>
        <div class="form-group">
            <label class="col-md-2 control-label">Customer</label>
            @Html.DropDownListFor(m => m.CustomerId, ModelViewHelper.Customers(null))
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Payment Term</label>
            @Html.DropDownListFor(m => m.PaymentTermId, ModelViewHelper.PaymentTerms())
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Date</label>
            @Html.EditorFor(m => m.Date)
        </div>
    </div>
    
    Html.RenderPartial("~/Views/Sales/_SalesLineItems.cshtml");
    
    <div>
        <input type="submit" name="Save" value="Save" />
    </div>
    <div>
        <input type="button" value="Print" onclick="PrintPdf('SalesOrder')" />
    </div>
}