﻿@model WebApplication3.SaAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SaAccount</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LegalEntityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegalEntityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaAccountType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaAccountType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaAccountCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaAccountCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaAccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaAccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaAccount2.SaAccountCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaAccount2.SaAccountCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaAccountClass.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaAccountClass.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
