﻿@model IEnumerable<WebApplication3.SaAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LegalEntityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaAccountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaAccountCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaAccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RowVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaAccount2.SaAccountCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaAccountClass.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LegalEntityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaAccountType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaAccountCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaAccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RowVersion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaAccount2.SaAccountCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaAccountClass.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
