﻿@model SmartAccountsUI.Models.ViewModels.Invoicing.InvoicingHeaderViewModel
@{
    Layout = null;
}

<h2>Invoicing Order</h2>

<div>
    <div class="form-group">
        <label class="col-md-2 control-label">Customer</label>
        @*@Html.DropDownListFor(m => m.CustomerId, ModelViewHelper.Customers(null))*@
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Payment Term</label>
        @*@Html.DropDownListFor(m => m.PaymentTermId, ModelViewHelper.PaymentTerms())*@
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Date</label>
        @Html.DisplayFor(m => m.Date)
    </div>
</div>
