﻿@model WebApplication3.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LegalEntityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegalEntityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BackendTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BackendTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Party.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Party.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentTerm.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentTerm.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaAccount.SaAccountCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaAccount.SaAccountCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaAccount1.SaAccountCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaAccount1.SaAccountCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaAccount2.SaAccountCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaAccount2.SaAccountCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaAccount3.SaAccountCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaAccount3.SaAccountCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxGroup.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxGroup.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
