﻿@model WebApplication3.Customer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Customer</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.No, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.No)
                @Html.ValidationMessageFor(model => model.No)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LegalEntityId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LegalEntityId)
                @Html.ValidationMessageFor(model => model.LegalEntityId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrimaryContactId, "PrimaryContactId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PrimaryContactId", String.Empty)
                @Html.ValidationMessageFor(model => model.PrimaryContactId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TaxGroupId, "TaxGroupId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TaxGroupId", String.Empty)
                @Html.ValidationMessageFor(model => model.TaxGroupId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SaAccountsReceivableSaAccountId, "SaAccountsReceivableSaAccountId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SaAccountsReceivableSaAccountId", String.Empty)
                @Html.ValidationMessageFor(model => model.SaAccountsReceivableSaAccountId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvoicingSaAccountId, "InvoicingSaAccountId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("InvoicingSaAccountId", String.Empty)
                @Html.ValidationMessageFor(model => model.InvoicingSaAccountId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvoicingDiscountSaAccountId, "InvoicingDiscountSaAccountId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("InvoicingDiscountSaAccountId", String.Empty)
                @Html.ValidationMessageFor(model => model.InvoicingDiscountSaAccountId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PromptPaymentDiscountSaAccountId, "PromptPaymentDiscountSaAccountId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PromptPaymentDiscountSaAccountId", String.Empty)
                @Html.ValidationMessageFor(model => model.PromptPaymentDiscountSaAccountId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentTermId, "PaymentTermId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PaymentTermId", String.Empty)
                @Html.ValidationMessageFor(model => model.PaymentTermId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BackendTypeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BackendTypeId)
                @Html.ValidationMessageFor(model => model.BackendTypeId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
