﻿@model SmartAccountsUI.Models.ViewModels.MasterTable.VendorEdit
@using SmartAccountsUI.Models;

@{
    ViewBag.Title = "EditVendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    @if (Model.Id != 0)
    {
        <h2><label>Edit Vendor</label>
        </h2>
    <div class="form-group">

        @Html.ActionLink("Delete", "VendorDelete", new { id = Model.Id })

    </div>
    }
    else
    {
        <h2>
            <label>Add Vendor</label>
        </h2>
    }
</div>





@using (Html.BeginForm())
{

    @Html.HiddenFor(m => m.Id)
    <div class="panel panel-default panel-body">
        <div class="form-group">
            <label class="col-md-3 control-label">Name</label>
            @Html.TextBoxFor(m => m.Name)
        </div>
    </div>

    <div class="panel panel-default panel-body">
        <div class="form-group">
            <label class="col-md-3 control-label">Accounts Payable Account</label>
            @Html.DropDownListFor(m => m.AccountsPayableSaAccountId, ModelViewHelper.ApAccounts(null))
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Purchase Account</label>
            @Html.DropDownListFor(m => m.PurchaseSaAccountId, ModelViewHelper.PAccounts(null))
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Purchase Discount Account</label>
            @Html.DropDownListFor(m => m.PurchaseDiscountSaAccountId, ModelViewHelper.PdAccounts(null))
        </div>

    </div>
    <div>
        <input type="submit" value="Save" name="SaveVendor" />
    </div>
}
