﻿@model SmartAccountsUI.Models.ViewModels.MasterTable.AddressEdit
@using SmartAccountsUI
@using SmartAccountsUI.Models;
<script src="~/Scripts/modaldialog.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.js"></script>

@{
    ViewBag.Title = "Edit";
}

<div>
    @if (Model.Id != 0)
    {
        <h2>
            <label>Edit Address</label>
        </h2>
        <div class="form-group">

            @Html.ActionLink("Delete", "AddressDelete", new { id = Model.Id })

        </div>
    }
    else
    {
        <h2>
            <label>Add Address</label>
        </h2>
    }
</div>


@using (Html.BeginForm())
{

    <style>
        .MakeWide {
            width: 200px;
        }
    </style>

    @Html.HiddenFor(m => m.Id)

    <div class="panel panel-default panel-body">

        <div class="form-group">
            <label class="col-md-3 control-label">Address 1</label>
            @Html.TextBoxFor(m => m.Address1, new { @class = "Test", type = "Address", required = "required" })
            @*@Html.TextBoxFor(m => m.Address1)*@
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">NameAddress 2</label>
            @Html.TextBoxFor(m => m.Address2)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Address 3</label>
            @Html.TextBoxFor(m => m.Address3)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">City</label>
            @Html.TextBoxFor(m => m.City)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">State</label>
            @Html.DropDownListFor(m => m.StateId, ModelViewHelper.States(), new { @class = "MakeWide" })
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Zip</label>
            @Html.TextBoxFor(m => m.Zip)
        </div>
       

    </div>
 
    <div class="form-group">
        <input type="submit" value="Save" name="SaveAddress" />
    </div>





}
 
   
