﻿@using SmartAccountsUI.Models
@model SmartAccountsUI.Models.ViewModels.MasterTable.Addresses
@{
    ViewBag.Title = "Addresss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Addresss</h2>
<tr>
    <td>
        @Html.ActionLink("Add Address", "AddressEdit", "MasterTable")
    </td>
    <br/>
<td>
    @Html.ActionLink("Save to Pdf", "ViewAddressPDF")
</td>
    </tr>
        <table class="table">
            <thead>
            <tr>
                <td>Id             </td>
                <td>Address Line 1 </td>
                <td>Address Line2 </td>
                <td>Address Line3 </td>
                <td>City </td>
                <td>State </td>
                <td>Zip </td>
            </tr>
            </thead>
            <tbody>
                @foreach (var address in Model.AddressListLines)
                {
                    <tr>
                        <td>@Html.ActionLink(string.Format("{0}", address.Id), "AddressEdit", new { id = address.Id })</td>
                        <td>@address.Address1 </td>
                        <td>@address.Address2 </td>
                        <td>@address.Address3 </td>
                        <td>@address.City</td>
                        <td>@ModelViewHelper.GetStateById(address.StateId)</td>
                        <td>@address.Zip</td>

                        @*<td>
                            @Html.ActionLink("Edit", "AddressEdit", new { id = Address.Id }) |
                            @Html.ActionLink("Details", "AddressDetails", new { id = Address.Id }) |
                           
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
