﻿@model SmartAccountsUI.Models.ViewModels.AddressViewModel
@using SmartAccountsUI
@using SmartAccountsUI.Models
<script src="~/Scripts/jquery-migrate-1.2.1.js"></script>
@using (Ajax.BeginModalDialogForm()) // Modal dialog form
{
    @Html.ValidationSummary()

    <fieldset>
        <h2>Add Contact</h2>
        <div class="panel panel-default panel-body">
            <div class="form-group">
                <label class="col-md-3 control-label">Address 1</label>
                @Html.TextBoxFor(m => m.Address1)
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Address 2</label>
                @Html.TextBoxFor(m => m.Address2)
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Address 3</label>
                @Html.TextBoxFor(m => m.Address3)
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">City</label>
                @Html.TextBoxFor(m => m.City)
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">State</label>
                @Html.DropDownListFor(m => m.StateId, ModelViewHelper.States(), new { @class = "MakeWide" })
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Zip</label>
                @Html.TextBoxFor(m => m.Zip)
            </div>
        </div>

        <input type="submit" value="Save"/>
    </fieldset>
   
}

