﻿@model SmartAccountsUI.Models.ViewModels.MasterTable.VendorAdd
@{
    ViewBag.Title = "SaveVendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Vendor</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label class="col-md-3 control-label">Vendor Name:</label>
        @Html.TextBoxFor(m => m.VendorName)
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Accounts Payable Account:</label>
        @Html.DropDownListFor(m => m.AccountsPayableSaAccountId, Model.SaAccounts)
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Purchase Account:</label>
        @Html.DropDownListFor(m => m.PurchaseSaAccountId, Model.SaAccounts)
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Purchase Discount Account:</label>
        @Html.DropDownListFor(m => m.PurchaseDiscountSaAccountId, Model.SaAccounts)
    </div>
    <input type="submit" value="Save" name="SaveVendor" />
}
