﻿@model SmartAccountsUI.Models.ViewModels.MasterTable.BankEdit
@using SmartAccountsUI
@using SmartAccountsUI.Models;
<script src="~/Scripts/modaldialog.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.js"></script>
@{
    ViewBag.Title = "Edit";
}

<div>
    @if (Model.Id != 0)
    {
        <h2>
            <label>Edit Bank</label>
        </h2>
        <div class="form-group">

            @Html.ActionLink("Delete", "BankDelete", new { id = Model.Id })

        </div>
    }
    else
    {
        <h2>
            <label>Add Bank</label>
        </h2>
    }
</div>


@using (Html.BeginForm())
{

    <style>
        .MakeWide {
            width: 200px;
        }
    </style>

    @Html.HiddenFor(m => m.Id)




    <div class="panel panel-default panel-body">
       
        <div class="form-group">
            <label class="col-md-3 control-label">Name</label>
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)


        </div>
        @*<div class="form-group">
            <label class="col-md-3 control-label">Primary Contact</label>
            @Html.DropDownListFor(m => m.PrimaryContactId, ModelViewHelper.BankContacts())
            @Ajax.ModalDialogActionLink("Add", "ContactAddDialog", "Add Bank Contact")
           
        </div>*@
    </div>
    <div>
   </div>
    <div class="panel panel-default panel-body">
        <div class="form-group">
            <label class="col-md-3 control-label">Bank Type</label>
            @Html.DropDownListFor(m => m.BankType, ModelViewHelper.BankTypes(), new { @class = "MakeWide" })
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Invoicing Account</label>
            @Html.DropDownListFor(m => m.SaAccountId, ModelViewHelper.SaAccounts(null), new { @class = "MakeWide" })
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Name</label>
            @Html.TextBoxFor(m => m.BankName)
        </div>


        <div class="form-group">
            <label class="col-md-3 control-label">Address</label>
            @Html.DropDownListFor(m => m.AddressId, ModelViewHelper.Addresses())
            @Ajax.ModalDialogActionLink("Add", "AddressAddDialog", "Add Bank Address")
        </div>


        <div class="form-group">
            <label class="col-md-3 control-label">Default Bank</label>
            @Html.CheckBoxFor(m => m.IsDefault, new { @checked = "checked" });
        </div>

    </div>
 
    <div class="form-group">
        <input type="submit" value="Save" name="SaveBank" />
    </div>





}
 
   
