﻿@model SmartAccountsUI.Models.ViewModels.MasterTable.Banks
@{
    ViewBag.Title = "Banks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Banks</h2>
<tr>
    <td>
        @Html.ActionLink("Add Bank", "BankEdit", "MasterTable")
    </td>
    <br/>
<td>
    @Html.ActionLink("Save to Pdf", "ViewBanksPDF")
</td>
    </tr>
        <table class="table">
            <thead>
                <tr>
                    <td>Bank Id</td>
                    <td>Bank Name</td>
                    <td>Balance</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var bank in Model.BankListLines)
                {
                    <tr>
                        <td>@Html.ActionLink(string.Format("{0}", bank.Name), "BankEdit", new { id = bank.Id })</td>
                        <td>@bank.Name</td>
                        <td>@bank.Balance</td>

                        @*<td>
                            @Html.ActionLink("Edit", "BankEdit", new { id = bank.Id }) |
                            @Html.ActionLink("Details", "BankDetails", new { id = bank.Id }) |
                           
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
