﻿@model SmartAccountsUI.Models.ViewModels.ContactViewModel
@using SmartAccountsUI
<script src="~/Scripts/jquery-migrate-1.2.1.js"></script>
@using (Ajax.BeginModalDialogForm()) // Modal dialog form
{
    @Html.ValidationSummary()

    <fieldset>
        <h2>Add Contact</h2>
        <div class="panel panel-default panel-body">
            <div class="form-group">
                <label class="col-md-3 control-label">First Name</label>
                @Html.TextBoxFor(m => m.FirstName)
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Middle Name</label>
                @Html.TextBoxFor(m => m.MiddleName)
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Last Name</label>
                @Html.TextBoxFor(m => m.LastName)
            </div>
        </div>

        <input type="submit" value="Save"/>
    </fieldset>
   
}

