﻿@using SmartAccountsUI.Models
@model SmartAccountsUI.Models.ViewModels.MasterTable.CustomerEdit


@{
    ViewBag.Title = "Delete Customer";
}

<h2>Delete Customer</h2>

<h3>Are you sure you want to delete this customer?</h3>
<div>

    <hr />

        <div class="form-group">
            <label class="col-md-3 control-label">Name</label>
            @Html.DisplayFor(m => m.Name)
        </div>


    <br/>
    <br/>
    <br />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="DeleteCustomer" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "CustomerIndex")
        </div>
    }
</div>
