﻿@model SmartAccountsUI.Models.ViewModels.MasterTable.CustomerEdit
@using SmartAccountsUI
@using SmartAccountsUI.Models;
<script src="~/Scripts/modaldialog.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.js"></script>
@{
    ViewBag.Title = "Edit";
}

<div>
    @if (Model.Id != 0)
    {
        <h2>
            <label>Edit Customer</label>
        </h2>
        <div class="form-group">

            @Html.ActionLink("Delete", "CustomerDelete", new { id = Model.Id })

        </div>
    }
    else
    {
        <h2>
            <label>Add Customer</label>
        </h2>
    }
</div>


@using (Html.BeginForm())
{

    <style>
        .MakeWide {
            width: 200px;
        }
    </style>

    @Html.HiddenFor(m => m.Id)




    <div class="panel panel-default panel-body">
       
        <div class="form-group">
            <label class="col-md-3 control-label">Name</label>
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Primary Contact</label>
            @Html.DropDownListFor(m => m.PrimaryContactId, ModelViewHelper.CustomerContacts())
            @Ajax.ModalDialogActionLink("Add", "ContactAddDialog", "Add Customer Contact")
           
        </div>
    </div>
    <div>
    @*@Html.ActionLink("Details", "CustomerDetail", new { id = Model.Id })*@
        </div>
    <div class="panel panel-default panel-body">
        <div class="form-group">
            <label class="col-md-3 control-label">Accounts Receivable</label>
            @Html.DropDownListFor(m => m.AccountsReceivableSaAccountId, ModelViewHelper.ArAccounts(null), new { @class = "MakeWide" })
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Invoicing Account</label>
            @Html.DropDownListFor(m => m.InvoicingSaAccountId, ModelViewHelper.InAccounts(null), new { @class = "MakeWide" })
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Invoicing Discount Account</label>
            @Html.DropDownListFor(m => m.InvoicingDiscountSaAccountId, ModelViewHelper.IdAccounts(null), new { @class = "MakeWide" })
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Penalty Account</label>
            @Html.DropDownListFor(m => m.InvoicingPenaltySaAccountId, ModelViewHelper.PaAccounts(null), new { @class = "MakeWide" })
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" name="SaveCustomer" />
    </div>





    }
 
   
