﻿@model SmartAccountsUI.Models.ViewModels.MasterTable.CustomerAdd
@using SmartAccountsUI
@using SmartAccountsUI.Models;
<script src="~/Scripts/modaldialog.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.js"></script>
@{
    ViewBag.Title = "Create";
}
<div>
        <h2>
            <label>Add Customer</label>
        </h2>
    </div>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    <div class="panel panel-default panel-body">
        <div class="form-group">
            <label class="col-md-3 control-label">Name</label>
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Primary Contact</label>
            @Html.DropDownListFor(m => m.PrimaryContactId, ModelViewHelper.Contacts())
            @Ajax.ModalDialogActionLink("Add", "ContactAddDialog", "Add Customer Contact")
        </div>
    </div>

    <div class="panel panel-default panel-body">
        <div class="form-group">
            <label class="col-md-3 control-label">Accounts Receivable</label>
            @Html.DropDownListFor(m => m.AccountsReceivableSaAccountId, ModelViewHelper.ArAccounts(null)))
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Invoicing Account</label>
            @Html.DropDownListFor(m => m.InvoicingSaAccountId, ModelViewHelper.InAccounts(null)))
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Invoicing Discount Account</label>
            @Html.DropDownListFor(m => m.InvoicingDiscountSaAccountId, ModelViewHelper.IdAccounts(null)))
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Penalty Account</label>
            @Html.DropDownListFor(m => m.InvoicingPenaltySaAccountId, ModelViewHelper.PaAccounts(null)))
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" name="SaveCustomer" />
    </div>
    
}
