﻿@model SmartAccountsUI.Models.ViewModels.Invoicing.AddInvoicingReceipt
@using SmartAccountsUI.Models;
@{
    ViewBag.Title = "AddInvoicingReceipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Invoicing Receipt</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.InvoicingInvoiceId)
    @Html.HiddenFor(m => m.InvoicingInvoiceNo)
    @Html.HiddenFor(m => m.InvoiceDate)
    @Html.HiddenFor(m => m.CustomerId)
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(m => m.AccountToDebitId, new { @class = "col-md-2 control-label" })
                @Html.DropDownListFor(m => m.AccountToDebitId, ModelViewHelper.Banks())
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.InvoicingInvoiceNo, new { @class = "col-md-2 control-label" })
                @Html.DisplayFor(m => m.InvoicingInvoiceNo)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.InvoiceDate, new { @class = "col-md-2 control-label" })
                @Html.DisplayFor(m => m.InvoiceDate)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CustomerId, new { @class = "col-md-2 control-label" })
                @Html.DisplayFor(m => m.CustomerId)
            </div>
        </div>
    </div>
    <h3>Line Items</h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Measurement</th>
                        <th>Qty</th>
                        <th>Discount</th>
                        <th>Amount</th>
                        <th>Amount to pay</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.AddInvoicingReceiptLines.Count; i++)
                    {
                        @Html.HiddenFor(m => Model.AddInvoicingReceiptLines[i].InvoicingInvoiceLineId)
                        @Html.HiddenFor(m => Model.AddInvoicingReceiptLines[i].ItemId)
                        @Html.HiddenFor(m => Model.AddInvoicingReceiptLines[i].MeasurementId)
                        @Html.HiddenFor(m => Model.AddInvoicingReceiptLines[i].Quantity)
                        @Html.HiddenFor(m => Model.AddInvoicingReceiptLines[i].Discount)
                        @Html.HiddenFor(m => Model.AddInvoicingReceiptLines[i].Amount)
                        <tr>
                            <td>@Model.AddInvoicingReceiptLines[i].ItemId</td>
                            <td>@Model.AddInvoicingReceiptLines[i].MeasurementId</td>
                            <td>@Model.AddInvoicingReceiptLines[i].Quantity</td>
                            <td>@Model.AddInvoicingReceiptLines[i].Discount</td>
                            <td>@Model.AddInvoicingReceiptLines[i].Amount</td>
                            <td>@Html.TextBoxFor(m => Model.AddInvoicingReceiptLines[i].AmountToPay)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <input type="submit" value="Save" name="SaveInvoicingReceipt" />
    </div>
}
