﻿@model SmartAccountsUI.Models.ViewModels.Invoicing.InvoicingReceipts
@{
    ViewBag.Title = "Receipts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Receipts</h2>
@Html.ActionLink("Add Receipt", "AddReceipt", "Invoicing")

<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>Invoice No</th>
            <th>Date</th>
            <th>Customer</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var receipt in Model.InvoicingReceiptListLines)
        {
            <tr>
                <td>@receipt.No</td>
                <td>@receipt.InvoiceNo</td>
                <td>@receipt.Date</td>
                <td>@receipt.CustomerName</td>
                <td>@receipt.AmountPaid</td>
            </tr>
        }
    </tbody>
</table>