﻿@model SmartAccountsUI.Models.ViewModels.Purchases.Vendor
@using SmartAccountsUI.Models;

@{
    ViewBag.Title = "EditVendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <h2>General</h2>
    @Html.HiddenFor(m => m.Id)
    <div class="panel panel-default panel-body">
        <div class="form-group">
            <label class="col-md-3 control-label">Name</label>
            @Html.TextBoxFor(m => m.VendorName)
        </div>
    </div>
    <h2>Invoicing</h2>
    <div class="panel panel-default panel-body">
        <div class="form-group">
            <label class="col-md-3 control-label">Accounts Payable Account</label>
            @Html.DropDownListFor(m => m.AccountsPayableSaAccountId, ModelViewHelper.SaAccounts(null))
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Purchase Account</label>
            @Html.DropDownListFor(m => m.PurchaseSaAccountId, ModelViewHelper.SaAccounts(null))
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Purchase Discount Account</label>
            @Html.DropDownListFor(m => m.PurchaseDiscountSaAccountId, ModelViewHelper.SaAccounts(null))
        </div>

    </div>
    <div>
        <input type="submit" value="Save" name="SaveVendor" />
    </div>
}
