﻿@model SmartAccountsUI.Models.ViewModels.MasterTable.Customers
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@Html.ActionLink("Add Customer", "AddCustomer", "MasterTable")

@Html.ActionLink("Save to Pdf", "ViewCustomersPDF")
<table class="table">
    <thead>
        <tr>
            <td>Customer Id</td>
            <td>Customer Name</td>
            <td>Balance</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.CustomersListLines)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
                <td>@customer.Balance</td>
            </tr>
        }
    </tbody>
</table>